<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                      <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealerships</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <div class="input-group">
                        <li>
                            <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About</a>
                        </li>
                        <li>
                            <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                            <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Username" name="username" >
                                    <input type="password" class="form-control" placeholder="Password" name="psw" >
                                    <button class="btn btn-primary" type="submit">Login</button>
                                    <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                                </div>
                            </form>
                        </li>
                        {% endif %}
                    </div>        
                </ul>
            </div>
        </nav>
    <!--Add review form here -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center m-2">Add Review</h1>
    <form action="{% url 'djangoapp:add_review' dealerId %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="review">Review</label>
            <textarea class="form-control" name="review" id="review" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
            </div>
        </div>
    </div>
    </body>
</html>